build --repo_env=CC=clang
build:opt --repo_env=CC=clang

build --copt -Werror

build --cxxopt=-std=c++2a
build --cxxopt=-Wfatal-errors
build --cxxopt=-g

build --cxxopt=-mavx2
build --cxxopt=-mfma
build --cxxopt=-ffast-math
build --cxxopt=-ffp-contract=fast

build:opt --cxxopt=-O3
build:opt --cxxopt=-DNDEBUG
